<ul class="nav nav-sidebar">
  <li>{{#bs-button type="submit" value="overview" 
        class="btn btn-default btn-block"}}Overview{{/bs-button}}</li>
  <li>{{#bs-button type="submit" value="papers" 
        icon="glyphicon glyphicon-education"
        class="btn btn-default btn-block"}}Papers{{/bs-button}}</li>
  <li>{{#bs-button type="submit" value="codeSnippets" 
        icon="glyphicon glyphicon-duplicate"
        class="btn btn-default btn-block"}}Code Snippets{{/bs-button}}</li>
  <li>{{#bs-button type="submit" value="apiDocs" 
        icon="glyphicon glyphicon-book"
        class="btn btn-default btn-block"}}API docs{{/bs-button}}</li>
  <li>{{#bs-button type="submit" value="help" 
        icon="glyphicon glyphicon-bullhorn"
        class="btn btn-default btn-block"}}Help{{/bs-button}}</li>
</ul>

{{developerPage}}hi
