<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h2 class="heading-1 just-para">Consumer</h2>
        <p class="just-para">Please click the button below to try out the applications from us and many others. These are free
            and work on all desktop computers (mobile soon). We have made the experience as easy as 
            possible to ensure you are in control from the very first step. </p>
       
        <p class="just-para"> Hopefully you will find your experience with the <b>SAFE</b> a pleasent, secure and 
            simple one. We have worked hard to make sure you are not only safe, but experience a much
            needed freedom. We hope you will be free to learn, educate and live life away from 
            the controls of today's hostile and sadly corrupted Internet.</p>
        
      </div>
      <div class="col-md-4">
        <h2 class="heading-1">Developer</h2>
        <p class="just-para">Developers need freedom to experiment, play and try out helpful applications. Some may be
          curious, some may wish to start or grow a buisness, we believe we have something for everyone at MaidSafe.</p>
        <p class="just-para">Would you like to be able to compete with the largest companies in the world who 
          own the largest data centers? How about creating great code and getting paid just for doing a good job?
        </P>
        <p class="just-para">Or maybe you are a growing or established company already and wonder, how 
          will we stay competative in a world where serverless networks and ulra low cost (or free) infrastructure
          is available to everyone?</p>
          <p class="just-para"> Both situations are answered in our Developer sections, please take a look.</p>
      </div>
      <div class="col-md-4">
        <h2 class="heading-1">Business Partners</h2>
        <p class="just-para">Hardware manufacturers, data center owners, NAS device providers, potential or existing investors 
                             are a small fraction of what we consider a partner. At MaidSafe we are keen to partner as we believe we
                             have technology and "know how" as well as a significant patent portfolio that will be widely beneficial to most in the tech sector and beyond.</p>
        <p class="just-para">We are at the beginning of our journey of engaging with the wider community at this time and welcome partners who
                             will help develop this technology whilst increasing their own net profit margins. It is in collaboration 
                             that we believe we can make the largest impact on the market and we look forward to working with the 
                             thinkers, market shakers and companies that embrace the opportunity to "do it right". </p>
        <p class="just-para">Please feel free to contact us and peruse the info below, where you will find the company history, structure
                             and current oportunities.</p>                      
        
      </div>
    </div>
     <div class="row">
        <div class="col-md-4">
           <p><a class="btn btn-success btn-sm" href="#" role="button">I'm a consumer, tell me more »</a></p>
        </div>
         <div class="col-md-4">
           <p><a class="btn btn-success btn-sm" href="#" role="button">I'm a Developer, tell me more »</a></p>
        </div>
         <div class="col-md-4">
           <p><a class="btn btn-success btn-sm" href="#" role="button">I'm a potential partner, tell me more »</a></p>
        </div>
      </div>
    <hr>
</div>
{{outlet}}
{{yield}}
