
<div class="container-fluid">
  <div class="row">
  <div class="col-sm-4">
	<img src='assets/images/maidsafe.png' class="img-fluid"  alt="Reponsive image">
  <p class="heading-1"> A world wide network, for the 21st centuary. </p>
   </div>
  <div class="col-sm-8">
  <h1 class="heading-1">SAFE network overview.</h1> 
  {{#bs-accordion selected=selected}} {{#bs-accordion-item value="what" title="What?"}}
  <p>The free software sytem known as SAFE (Secure Access For Everyone) is a new network made possible by 
        efficiently combining the unused 
        hard drive space, 
        CPU power and 
        Internet connections of its users. 
     A global network without servers. it offers a level of security and privacy not 
     available on the existing Internet. 
     Users of the SAFE Network have full control over their information, 
     while software developers can focus their time building on top of a secure infrastructure.</p>
    
  {{/bs-accordion-item}} {{#bs-accordion-item value="why" title="Why?"}}
  <p><b>SAFE gives people full control of their own information on a secure Internet.</b></p>
<p></p>
    <p>The current Internet services are just not working for us. </p>
    <p>Servers simply cannot be secured.</p>
    <p>Passwords will always be stolen.</p>
    <p>SAFE has no servers. </p>
    <p>SAFE never transmits of stores passwords.</p>

     <p>SAFE has built in privacy as well as built in security. No more corporations such as Google or Facebook required to hold YOUR information (they have better things to do). Your network under
    your control. Your life under your control. The SAFE network is here and makes the internet a more trusted, secure and private place, just as it was meant to be.</p>
  {{/bs-accordion-item}} {{#bs-accordion-item value="who" title="Who?"}}
  <p>Started in 2006 by Scottish Engineer David Irvine, MaidSafe are a small team of around 20 staff (and growing), comprised of: thinkers, inventors, tinkerers, PHDs, engineers and designers. Based in Troon, Scotland, we have drawn talents from many different cultures and countries,
    reflecting the users that we serve. Despite this variety, we all share a mission: a desire to provide security and privacy for everyone.</p>
   <p>In additon to the team there is also a vibrant and helpfull community on the <a href='http://forum.safenetwork.io' target="blank"> the community run forums.</a></P>
  {{/bs-accordion-item}} {{#bs-accordion-item value="where" title="Where?"}}
  <p>Based in Scotland with staff worldwide</p>
  <p class="just-para">We have our head ofice in Troon, on the West coast of Scotland, with Engineers working remotely from across Europe, Brazil, China, India and  
     worldwide. <p></p><p>Please use the button below for further details on contacting us.</p> </p>
  {{/bs-accordion-item}} {{#bs-accordion-item value="when" title="When?"}}
  <p class="just-para">With 7 test networks completed, we are now currently at Alpha release (a testing mode).</p>
  <p class="just-para">Having recently raised more capital and with continued fund raising the team is presently 
    being expanded. Given that we have 10 years of research, testing and development behind us, we are confident 
    in our ability to deliver a fully released network. We will then see the innovation of millions 
    of people come together on a free, simple and very powerful world wide network. </p>
    
    <p class="just-para">Releasing Alpha has been a massive step and has proven the technology, now incremental roll-outs will allow mainstream adoption.</p> 

  {{/bs-accordion-item}} {{/bs-accordion}}

  {{#if selected}}
  <p>{{#link-to selected class="btn btn-info btn-lg" role="buton"}}Would you like to know more about "{{selected}}" »{{/link-to}}</p>
  {{/if}}
  </div>
  </div>
</div>
{{outlet}}
{{role-selector}}

    <footer>
      <p>© This work is licensed under a Creative Commons Attribution 4.0 International License.</p>
    </footer>

<