  
    <div class="container-fluid why">
       <<h2 class="heading-1"> What does SAFE do?</h2>
  
      <div class="row">
        <div class="col-md-7">
          <p class="heading-1">Self Authentication <span class="text-muted">You keep your password.</span></p>
          <p class="just-para ">To live in a place that is SAFE, you need to be able to join (login). With SAFE this is a simple, albeit
                               "different" approach to traditional networking. Here an individual decides to use the
                               network and creates two peices of random data. One peice locates your 
                               account and the other decrypts this. Nice and simple, you are 100% in control 
                               here and your information is 100% owned by you, importantly only ever known to you.
                                
          </p>
          <p class="just-para">Now you can join a system where and when you like and never be blocked.   
          </p>
        </div>
        <div class="col-md-5">
        <ul>
          <li>Create two passwords, known only to you.</li>
          <li>Create your account on your computer.</li>
          <li>You have now joined this network on <b>your</b> terms, <b>100% under your control</b>.</li>
         </ul>

        </div>
      </div>



      <div class="row ">
        <div class="col-md-7 col-md-push-5">
          <p class="heading-1">Self Encryption <span class="text-muted">Automatically secure your data.</span></p>
          <p class="just-para ">Cryptography and encryption are terms widely and badly used in technology. In SAFE
                               this complex technology is done automatically for you, as it should be. As a user 
                               all you need to know is that your information is secured to a level that even your 
                               worst enemy could have a chunk of your data and could not read it. This is done at a level
                               beyond tradional encryption (but uses a traditional encryption step) to ensure that 
                               there is no algorithm to break or reverse.  Now your data can be given to anyone, 
                               securely chopped up into little peices and very secure (no piece has a link to any other piece either).
          </p>
          <p class="just-para">To be SAFE do not even try to secure servers, we secure data. This is fundimental and automatic. 
          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <ul>
            <li>As each file is stored, it is chopped up, compressed, encrypted and further obfuscated.</li>
            <li>Data can easily and securely be stored anywhere.</li>
            <li>This process uses information from the data itself to perform these steps, meaning the chunks can be de-duplicated (potential disk space savings of over 90% in some cases).</li>
         </ul>
        </div>
      </div>

  

      <div class="row ">
        <div class="col-md-7">
          <p class="heading-1">Automonous Network <span class="text-muted">A network built for your security.</span></p>
          <p class="just-para">Sharing, communicating and having our data managed for us is great, the benefits are 
                               beyond debate, however, doing so properly requires that there are no intermediaries, Nobody likes evesdroppers. </p>
          <p class="just-para">This is where SAFE changes the rules and opens our eyes. The SAFE network is actually all of it's users.
                               When you start the software a small amount of <b>unused resources</b> are used by the network. Combined the 
                               resources of ordinary people connected together dwarfs all of the data centers and huge corporate networks out there. 
                               This means we have all the power we need and SAFE connects these resources securely and anonymously. 
          </p>
          <p class="just-para">Now the intermediaries are not required, they were inneficient anyway (sorry Google, Facebbok etc.) and we
                               can all now just take control of our lives again. This network increases in strengh the more people use it. This sounds 
                               strange and it is, but it is the benefit of a system designed for the people and not one that enslaves people.
          </p>
        </div>
        <div class="col-md-5">
        <ul>
            <li>Combine spare resources of many millions of computers and share them without prejudice.</li>
            <li>Allow people to use and contribute to the network, 100% on their terms, 100% under their control.</li>
            <li>A network that works for it's users and provides the cheapest possible resources to everyone.</li>
            <li>Combined with the self encryption and authentication we have physical data security (nobody can prevent access or corrupt data).</li>
            <li>Combined with the self encryption and authentication we have the Internet experience that has always been promised.</li>
         
         </ul>
        </div>
      </div>
      <hr>
    </div><!-- /.container -->


{{role-selector}}
