<div class="container-fluid">
  <h2 class="heading-1">When is this all taking place?</h2>
<p class="just-para">With 7 test networks completed, we are now currently at Alpha release (a testing mode).</p>
  <p class="just-para">Having recently raised more capital and with continued fund raising the team is presently 
    being expanded. Given that we have 10 years of research, testing and development behind us, we are confident 
    in our ability to deliver a fully released network. We will then see the innovation of millions 
    of people come together on a free, simple and very powerful world wide network. </p>
<p class="just-para">As the network progresses through Alpha releases and then onto Beta and full release we will 
  publish weekly updates on the community forums. People are welcome to check weekly to watch progress. It can be 
  safely assumed with the Alpha release, increased capital and growing team that progress will continue to improve.</P>
    </div>

{{role-selector}}
{{outlet}}
