
    <div class="container">
      <h2 class='heading-1'> Based in Scotland with staff worldwide</h2>
  <div class="row">
    <div class="col-sm-4">
      <h3 class="heading-1">Postal Address</h3>
      <p>MaidSafe.net Limited</p>
      <p>72 Templehill</p>
      <p>Troon</p>
      <p>Scotland</p>
      <p>KA10 6BE</p>
      <p>Tel: +44 (0)1292 317311</p>
      <p>Company Registered in Scotland</p>
      <p>No. SC297540</p>
    </div>
    <div class="col-sm-4">
      <h3 class="heading-1">Press and marketing</h3>
      <p> email: pr@maidsafe.net</p>
        <h3 class="heading-1">Business Parterships</h3>
      <p> email: partner@maidsafe.net</p>
    </div>
    
  </div>
</div>


{{role-selector}}
{{outlet}}
