    <div class="container-fluid why">
       <<h2 class="heading-1"> Who are MaidSafe?</h2>
  
      <div class="row">
        <div class="col-md-7">
          <p class="heading-1">Board <span class="text-muted">Experience counts.</span></p>
          <p class="just-para ">The current board meets on a monthly (not strict) basis and the 
            memberships as as follows. 
          </p>
            <ul>
              <li>David Irvine, CEO. (Engineering background)</li>
              <li>Nick Lambert, COO. (Marketing background)</li>
              <li>Viv Rajkumar, CTO. (Engineering background)</li>
              <li>Fraser Hutchison (jr), R&D (Public services background)</li>
              <li>David Allan. (Legal bacground)</li>
              <li>David Cosh. (Business background)</li>
              <li>Fraser Hutchison (sr), (Navy background)</li>
              <li>Andy Laffery [Advisor], (Finance background)</li>
              <li>Michael Jackson [Advisor] (Finance background)</li>
              <li>Craig Sellars [Advisor] (Engineering background)</li>
              </ul>
          
        </div>
        <div class="col-md-5">
        <img class="img-rounded" src="assets/images/maidsafe.png" alt="Generic placeholder image" width="140" height="140">

        </div>
      </div>



      <div class="row ">
        <div class="col-md-7 col-md-push-5">
          <p class="heading-1">Staff <span class="text-muted">Engineering heavy team, spread wordwide.</span></p>
          <p class="just-para ">A team of around 20 people at this time (Aug 2016), who are focussed on
                                delivering the SAFE network. This is a team that have built up skills in the 
                                area of decentralisation technology. This transferrable skillset is very new
                                although very valuable in todays business environment.</p>

          <p class="just-para ">On the administration and business side of the company, the focuss is now on 
                                partnership opportunities, commercialisation of the technology and skills.   
          </p>
          
        </div>
        <div class="col-md-5 col-md-pull-7">
       <img class="img-rounded" src="assets/images/maidsafe.png" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>

  

      <div class="row ">
        <div class="col-md-7">
          <p class="heading-1">Community <span class="text-muted">Vibrant, growing and motivated.</span></p>
          <p class="just-para">With an active community forum of over 2700 member and over 2500 wallet 
                               addresses holding MaidSafe tokens, there is an amazing early adopter opportunity. 
                               This community are invaluable in testing, feedback and helping to make the
                               user experience as refined as posisble. The community provides a source of ideas, 
                               intellect, critisism and on occasion staff. This is possibly an unusual situation
                               but one that we nurture and respect. The community are a vital part of the project as a whole.  
          </p>
          
        </div>
        <div class="col-md-5">
        <img class="img-rounded" src="assets/images/maidsafe.png" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>
      <hr>
    </div><!-- /.container -->
{{role-selector}}
