
    <div class="container-fluid why">
         <  <<h2 class="heading-1"> {{fa-icon "quote-left" pull="left" border=true}}Why does MaidSafe exist?</h2>
      <hr>
      <div class="row">
        <div class="col-md-7">
          <p class="heading-1">Privacy. <span class="text-muted">We are losing control.</span></p>
          <p class="just-para">Current business models encourage mass data collection. This encourages
                               dangerous behaviour that is fraught with danger. This weakeness is also exploited
                               by Governments, Government Agencies and others with extremely short term goals of controlling 
                               huge amounts of people, easily. 
          </p>
          <p class="just-para">This downward spiral seriously threatens the individual and society.   
          </p>
        </div>
        <div class="col-md-5">
        <ul>
          <li>Children are stalked and "groomed" with ease.</li>
          <li>Identity theft is real and can cause immense grief.</li>
          <li>You're own thought process and habits are recorded without your knowledge.</li>
         </ul>

        </div>
      </div>

      <hr>

      <div class="row ">
        <div class="col-md-7 col-md-push-5">
          <p class="heading-1">Security <span class="text-muted">Server failures and password thefts daily.</span></p>
          <p class="just-para">It is obvious that collecting everyones data and private information including 
                               passwords on servers does not work. These silos of information are under control
                               of companies and groups who then take ownership of our own private and sensitive data.</p>
          <p class="just-para">The never ending cat and mouse game of secured then immediately attacked has no winner. 
                                
          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <ul>
            <li>A server based network, demands people store data in silos and give up ownership.</li>
            <li>Passwords and access tokens are also required to be held by these servers.</li>
            <li>Servers and networks will always be hacked, password lists will never be effectively secured.</li>
         </ul>
        </div>
      </div>

      <hr>

      <div class="row ">
        <div class="col-md-7">
          <p class="heading-1">Freedom. <span class="text-muted">Our freedom is being eroded by techology.</span></p>
          <p class="just-para">The dichotomy of profit that requires taking control from people is
                               a downward spiral. This causes stress as we all feel this loss.</p>
          <p class="just-para">At the moment freedom to highlight injustice, or communicate privately is
                               either extemely difficult or considered "suspicious behaviour". This is not
                               natural as humans do share secrets and aspirations in their off-line world.
                               As it also hampers profits to promote privacy, Governements and companies 
                               have very little encouragement to right this wrong.
          </p>
        </div>
        <div class="col-md-5">
        <ul>
            <li>Loss of freedom to securely communicate <b>does cost lives</b>.</li>
            <li>As companies or Governemnts can snoop on us, bad actors obviously will.</li>
            <li>Without freedom, society will stagnate at best but will more likely regress.</li>
         </ul>
        </div>
      </div>
      <hr>
    </div><!-- /.container -->


{{role-selector}}

